@font-face {
  font-family: Vazir;
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Vazir.eot') format('woff'),
  url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}
body{
      font-family: Vazir;
      letter-spacing: 0;
      text-rendering: optimizeLegibility;
      font-weight: 300;
      color: #212529;
      font-size: 1rem;
      background-color: #e5e7e4 !important;
      line-height: 2;
      word-wrap: break-word;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

/* اسلایدر */

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left; padding: 5px}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

/*  نویسندگان */

figure.imgauthor img{
    border: 1px solid #e8e8e8;
}


